@media screen and (min-width: 321px) and (max-width: 480px) {
  .AboutContent {
    width: 300px;
  }
  .Caption {
    font-size: "20px" !important;
  }
  .FactfileContent {
    width: 280px;
  }
}

@media screen and (max-width: 320px) {
  .AboutContent {
    width: 250px;
  }
  .Caption {
    font-size: "20px" !important;
  }
  .FactfileContent {
    width: 280px;
  }
}
