@media screen and (max-width: 320px) {
  .AboutContent {
    width: 250px !important;
  }
  .Caption {
    font-size: "20px" !important;
  }
  .FactfileContent {
    width: 230px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .AboutContent {
    width: 270px !important;
  }
  .Caption {
    font-size: "20px" !important;
  }
  .FactfileContent {
    width: 250px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .AboutContent {
    width: 450px !important;
  }
  .InnerAbout {
    width: 310px !important;
  }
  .Caption {
    font-size: "20px" !important;
  }
  .FactfileContent {
    width: 130px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .AboutContent {
    width: 650px !important;
  }
  .InnerAbout {
    width: 440px !important;
  }
  .Caption {
    font-size: "20px" !important;
  }
  .FactfileContent {
    width: 195px;
  }
}

@media screen and (min-width: 993px) {
  .AboutContent {
    width: 860px !important;
  }
  .InnerAbout {
    width: 580px !important;
  }
  .Caption {
    font-size: "20px" !important;
  }
  .FactfileContent {
    width: 263px;
  }
  .custom-grid-item {
  }
}
