@media screen and (max-width: 320px) {
  .DocSelectHeaderName {
    font-size: 11px;
  }
  .VerificationMethod {
    width: 170px;
    height: 50px;
  }
  .selectText {
    font-size: 14px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .DocSelectHeaderName {
    font-size: 11px;
  }
  .VerificationMethod {
    width: 170px;
    height: 50px;
  }
  .selectText {
    font-size: 15px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .DocSelectHeaderName {
    font-size: 15px;
  }
  .VerificationMethod {
    width: 240px !important;
    height: 70px !important;
  }
  .selectText {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .DocSelectHeaderName {
    font-size: 15px;
  }
  .VerificationMethod {
    width: 220px;
    height: 70px;
  }
  .selectText {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 992px) {
  .DocSelectHeaderName {
    font-size: 15px;
  }
  .VerificationMethod {
    width: 220px;
    height: 70px;
  }
  .selectText {
    font-size: 22px !important;
  }
}
