input[type="file"] {
  display: none;
}

input[type="file"] + label {
  color: white;
  height: 3rem !important;
  width: 3rem !important;
  padding: 2rem;

  background-color: var(--color-primary);
  cursor: pointer;
  border-radius: 50% !important;
  /* margin: auto; */
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}
.signup-container {
  width: 100vw;
  height: auto;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  padding: 1rem 0;
}
