* {
  user-select: none;
}

.row {
  flex-direction: row !important;
}

.row > * {
  margin: 5px;
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  overflow: hidden;
}
.card-container {
  width: 100%;
  height: 60%;
  position: relative;
  padding: 2rem;
}
.swipe {
  position: absolute;
  height: 45rem;
}
.card {
  width: 30rem;
  height: 100%;
  position: relative;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.profileContent {
  /* border: 1px solid blue; */
  width: 55%;
  height: 107%;
  margin-left: auto;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  overflow: scroll;
  position: relative;
}
.basic-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  justify-content: center;
}
.profile--basic-info {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1.2rem 1rem;
  font-size: 1.2rem;
}
.profile--description {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-weight: 400;
}
.profile--header {
  font-size: 3.5rem;
  padding: 2.5rem 1.5rem;
  position: absolute;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.profile--name {
  display: inline-block;
}
.profile--age {
  font-size: 1.5rem;
  display: inline-block;
}
.profile--country {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.suggestion-status-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.suggestion-online--dot {
  width: 1rem;
  height: 1rem;
  background-color: #66e2b3;
  border-radius: 50%;
}
.suggestion-offline--dot {
  width: 1rem;
  height: 1rem;
  background-color: #eb2f64;
  border-radius: 50%;
}
.suggestion-status {
  font-size: 1.2rem;
}

.loading-icon {
  width: 30vw;
  display: flex;
  justify-content: center;
}
.looking-for {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  gap: 1.2rem;
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
}

.looking-for div {
  background-image: linear-gradient(to right bottom, #c81172, #eb2f64);
  border-radius: 15px;
  width: auto;
  padding: 0.5rem 1rem;
  color: #fff;
}

.usertags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  gap: 1.2rem;
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
}

.usertags div {
  background-image: linear-gradient(
    to right bottom,
    var(--color-secondary),
    transparent
  );
  border-radius: 15px;
  width: auto;
  padding: 0.5rem 1rem;
  color: #000;
  font-weight: 500;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.swipe-buttons {
  margin: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.4); */

  /* background-color: red; */
  gap: 3rem;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

/* .buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;

  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
} */

.swipe-buttons .MuiIconButton-root {
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);

  transition: all 0.5s;
}
.swipe-buttons .MuiIconButton-root:hover {
  transform: scale(1.2, 1.2);
}
.profile-up-btn {
  transform: translateX(28rem) translateY(50rem) !important;
  padding: 2rem;
  background-color: white !important;
}
.swipe-button__left {
  color: #66e2b3 !important;
}
.slide-down-btn-container {
}
.slide-down-btn {
  color: #eb2f64 !important;
  background-color: #000;
  position: absolute;
  bottom: -2rem;
  left: 47%;
}
.swipe-button__right {
  color: #ec5e6f !important;
}

.swipe-button__undo {
  color: var(--color-secondary) !important;
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
