.dashboard-container {
  display: flex;
  flex: 0 0 82%;
  /* background-image: radial-gradient(
    at top left,
    var(--color-primary) 1%,
    transparent
  ); */
  background-color: #eee;
  width: 100vw;
  /* overflow: hidden; */
  max-width: 100vw;
  padding-top: 6.8rem;
}

.suggestions-container {
  /* height: 100vh; */
  background-color: rgba(0, 0, 0, 0);
  max-width: 100rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
}
.swiper-container-main {
  width: 100%;
  margin: 0.5rem auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0);
}
.swiper {
  width: 100%;

  /* pointer-events: none; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;

  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.swiper {
  width: 100%;
  /* height: 300px; */
  margin-left: auto;
  margin-right: auto;
  height: 15rem !important;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.mySwiper {
  box-sizing: border-box;
  /* padding: 7px 0 !important; */
  width: 100%;
}

.mySwiper .swiper-slide-active {
  opacity: 1;
  border: 6px solid var(--color-primary);
  /* border-radius: 15px !important; */
}
.mySwiper .swiper-slide-active .sug-profile-header {
  border-radius: 0;
  /* border-radius: 15px !important; */
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--color-primary-dark);
  font-weight: 700;
  right: 10px;
  padding: 2rem;
  border-radius: 50%;
  width: 0.5rem !important;
  height: 0.5rem !important;

  color: #fff !important;
  fill: #fff !important;
  stroke: #fff !important;

  /* border-radius: 50%; */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #fff;
  color: var(--color-primary-dark) !important;
  fill: var(--color-primary-dark) !important;
  stroke: var(--color-primary-dark) !important;
}

.current-profile {
  padding: 0 0 2rem 0.5rem;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  /* gap: 2.5rem; */
}
.sugg-card {
  /* max-width: 32rem;
  min-width: 24rem; */
  width: 35%;
  height: 50rem;
  position: relative;
  background-size: cover;
  background-position: center;
}
.profile--header {
  font-size: 1.3rem;
  background-image: linear-gradient(
    to right bottom,
    var(--color-grey-dark-1) 0.1%,
    transparent
  );
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.profileContent {
  width: 40rem;
  height: 50rem;
  background: url("https://live.staticflickr.com/65535/52791753767_dc464aa472_k.jpg");

  padding: 1.5rem 2rem;
  background-position: center;
  background-size: cover;
  overflow: scroll;
  position: relative;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.basic-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  ); */
  /* background-color: #fff; */
  color: #000;
  margin: 1rem;
}
.profile--basic-info {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1.2rem 1rem;
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 500;
}
.profile--description {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  line-height: 2.5rem;

  /* background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  ); */
  margin: 1rem;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  color: var(--color-primary);
  font-weight: 600;
}
.profile-fav-songs {
  border-radius: 20px;
  width: 16rem;
  height: 16rem;
}
.profile-fav-songs iframe {
  /* background-color: #fff; */
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
}
.dashboard-profile-vid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1rem;
  justify-items: center;
}
.profile--header {
  font-size: 3.5rem;
  background-image: linear-gradient(
    to right bottom,
    var(--color-grey-dark-1) 0.1%,
    transparent
  );
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.profile--name {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 2rem;
}
.profile--age {
  font-size: 1.5rem;
  display: inline-block;
}
.looking-for-span {
  font-size: 1.1rem !important;
  display: block !important;
  color: #12777e !important;
}
.profile--lookingfor-goal {
  font-size: 1.4rem !important;
  position: relative !important;
  font-weight: 600 !important;
  height: auto !important;
  align-self: flex-start !important;
  padding: 0.1rem 1rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 5px !important;
  background: #b6ece4 !important;
  color: #12777e !important;
  line-height: 1.4;
  border: none !important;
  /* border: 3px solid #12777e !important; */
}
.emoji-container {
  font-size: 3rem;
  text-align: center;
  padding: 0 !important;
  flex: 0 0 20%;
}
.profile--country {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-left: -0.4rem;
  justify-content: flex-start;
}
.suggestion-status-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.mySwiper .suggestion-status-container {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  /* border-top-right-radius: 15px;
  border-top-left-radius: 15px; */
  width: 100%;
  padding: 0.5rem 0.6rem;
}
.suggestion-online--dot {
  width: 1rem;
  height: 1rem;
  background-color: #66e2b3;
  border-radius: 50%;
}
.suggestion-offline--dot {
  width: 1rem;
  height: 1rem;
  background-color: #eb2f64;
  border-radius: 50%;
}
.suggestion-status {
  font-size: 1.2rem;
}

.loading-icon {
  width: 30vw;
  display: flex;
  justify-content: center;
}
.looking-for {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  gap: 1.2rem;
  padding: 1rem 1.6rem;
  font-size: 1.2rem;
}

.looking-for > div {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid var(--color-primary);
  width: auto;
  padding: 0.2rem 0.8rem;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.2rem;
  height: 3rem;
}

.usertags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  gap: 1.2rem;
  padding: 1rem 1.6rem;
}

.usertags > div {
  /* background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  ); */
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid var(--color-primary);
  width: auto;
  padding: 0.2rem 0.8rem;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.2rem;
}
.sug-profile-content-ico {
  color: var(--color-primary);
}
.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
  font-size: 1.4rem;
}

.swipe-buttons {
  display: flex;
  align-items: center;
  width: 100%;

  justify-content: space-around;
  gap: 3rem;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0.7rem 0;
}

.swiper-pagination-bullets {
  display: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem !important;
}

.sug-profile-header {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  transition: all 0.6s;
  transform: translateY(64%);
  padding: 0 0 1rem 0.5rem;
}
.swiper-slide:hover .sug-profile-header {
  transform: translateY(0%);
}
.sug-profile-calltag {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  text-align: left !important;
  padding: 0.5rem;
  padding-bottom: 0;
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
  gap: 1px;
}

.sug-profile-age {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  text-align: left !important;
  padding: 0 0.5rem;
  display: flex;
  margin-top: 0.6rem;
  align-items: center;
}
.sug-profile-country {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  text-align: left !important;
  padding: 0 0.5rem;
  display: flex;

  align-items: center;
}
.dashboard-err-msg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 0;
  font-size: 4rem;
  color: var(--color-grey-dark-2);
}
.dashboard-loading-container {
  /* background-color: #eee; */
  /* width: 100%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.dashboard-loading-photo {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: relative;
  /* z-index: 1; */
}
@keyframes move-ripple {
  0% {
    transform: scale(1, 1);
    opacity: 0.9;
  }
  10% {
    transform: scale(1.1, 1.1);
    opacity: 0.9;
  }
  30% {
    transform: scale(1.2, 1.2);
    opacity: 0.8;
  }
  40% {
    transform: scale(1.3, 1.3);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.4, 1.4);
    opacity: 0.6;
  }
  60% {
    transform: scale(1.5, 1.5);
    opacity: 0.5;
  }
  70% {
    transform: scale(1.6, 1.6);
    opacity: 0.4;
  }
  80% {
    transform: scale(1.7, 1.7);
    opacity: 0.3;
  }
  90% {
    transform: scale(1.8, 1.8);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.9, 1.9);
    opacity: 0.1;
  }
}
.dashboard-other-images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  padding: 0.7rem 1rem;
  position: absolute;

  top: 0;
  column-gap: 1rem;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.horizonal-photo-line {
  height: 0.3rem;
  background-color: #fff;
  /* width: 2rem; */
}

.horizonal-photo-line--active {
  /* height: 0.3rem; */
  height: 0.3rem;
  background-color: #eb2f64;
  /* width: 2rem; */
}
.dashboard-other-image {
  width: 6rem;
  height: 6rem;
}
.dashboard-other-image img {
  object-fit: cover;
  width: 100%;

  height: 100%;
}
.dashboard-loading-photo::before {
  width: 100%;
  content: "";
  height: 100%;
  background-color: var(--color-primary-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  -webkit-animation-name: move-ripple;
  animation-name: move-ripple;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.profile--header .MuiButtonBase-root {
  color: #fff;
  background-color: var(--color-primary);
  width: 40%;
  margin: auto;
  border-radius: 20px;
}
.dashboard-loading-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* filter: blur(1px); */
  /* -webkit-filter: blur(1px); */
  border: 4px solid #fff;
}

.more-info-btn {
  display: none !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}
@media only screen and (max-width: 67em) {
  .dashboard-container {
    padding-top: 7.5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .dashboard-profile-vid-container {
    width: 100%;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .sug-profile-header {
    transform: translateY(0);
  }
  .profile--header {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .mySwiper {
    height: auto;
    /* flex: 0 0 40%; */
    /* padding: 2rem 0 !important; */
  }
  .swiper-container-main {
    gap: 1rem;
    padding-bottom: 2rem;
  }
  html {
    font-size: 45%;
  }
  .bottom-nav-container {
    display: flex;
  }
  .swiper-container-main {
    padding: 0;
  }
  .current-profile {
    padding: 0;
    position: relative;
    flex: 1 1 70%;
  }
  /* .profile--header {
    padding: 0;
  } */
  .profileContent {
    width: 100%;
    flex: 1;
    margin: 0;
    height: 100%;
    border-radius: 0;
    max-height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    /* opacity: 0.5; */
    z-index: 40 !important;
    display: none;
  }
  .profile--basic-info {
    color: #fff;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .show {
    display: block;
  }
  .close {
    display: none;
  }
  .swiper-container-main {
    height: 100%;
    margin-top: 0;
  }
  .sug-profile-content-ico {
    color: #fff;
  }
  .suggestions-container {
    height: calc(100vh - 99px);
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: var(--color-primary-dark);
    font-weight: 700;
    border-radius: 50%;
    right: 10px;
    padding: 2rem;
    width: 0.5rem !important;
    height: 0.5rem !important;

    /* border-radius: 50%; */
  }
  .swiper-button-next::after,
  .swiper-button-prev:after {
    font-size: 2.5rem !important;

    /* border-radius: 50%; */
  }
  .sugg-card {
    /* max-width: 40rem; */
    width: 100%;
    flex: 1;
    margin: 0;
    height: 100%;
    position: relative;
    border-radius: 0;
    max-height: 100%;
    background-size: auto 162%;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: 50% 50%;
    filter: brightness(110%);
  }

  .dashboard-other-images-container {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .profile--header .MuiButtonBase-root {
    font-size: 1rem !important;
    /* width: % !important; */
    padding: 0.9rem 0.5rem !important;

    width: 15%;
  }
  .more-info-btn {
    display: flex !important;
    z-index: 3000 !important;
  }
  .mySwiper .swiper-slide-active {
    opacity: 1;
    border: 5px solid var(--color-primary);
  }
}
.connect-btn-sug {
  border-radius: 10px !important;
  font-size: 1.1rem !important;
}
.connect-btn-sug:hover {
  color: var(--color-primary) !important;
  background-color: #fff !important;
}

/* @media only screen and (max-width: 78em) {
  .dashboard-container {
    padding-top: 16rem;
  }
} */

@media only screen and (max-width: 56.25em) {
  .dashboard-container {
    padding-top: 7.6rem;
  }
  .usertags > div {
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
  .looking-for > div {
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
  .profile--description {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 1px solid #fff;
  }
  .suggestions-container {
    width: 100%;
    max-width: 100%;
    padding: 0 0;
    padding-bottom: 1.5rem;
  }
  .dashboard-err-msg {
    font-size: 3rem;
    height: 100%;
  }
  /* .swiper {
    height: 35%;
  } */

  .swiper-button-next,
  .swiper-button-prev {
    top: 40% !important;
  }
}

.react-swipeable-view-container {
  height: 100% !important;
  width: 100% !important;
}
@media only screen and (max-width: 37.5em) {
  .dashboard-container {
    padding-top: 6.7rem;
  }
}
