.profile-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem 0;
  justify-items: center;
  margin: auto;
  max-width: 140rem;
}
@media only screen and (max-width: 100em) {
  .profile-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 83.6em) {
  .profile-cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .profile-card {
    width: 22.6rem;
    height: 31.5rem;
  }
}

@media only screen and (max-width: 78em) {
  .profile-cards {
    grid-template-columns: repeat(5, 1fr);
  }
  .profile-card {
    width: 23.6rem;
    height: 31.5rem;
  }
}

@media only screen and (max-width: 71em) {
  .profile-cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .profile-card {
    width: 27.6rem;
    height: 33.5rem;
  }
}

@media only screen and (max-width: 71em) {
  .profile-card {
    width: 26.6rem;
    height: 32.5rem;
  }
}

@media only screen and (max-width: 64.2em) {
  /* .profile-cards {
    grid-template-columns: repeat(3, 1fr);
  } */
  .profile-card {
    width: 24.6rem;
    height: 31.5rem;
  }
}

@media only screen and (max-width: 58.4em) {
  /* .profile-cards {
    grid-template-columns: repeat(3, 1fr);
  } */
  .profile-card {
    width: 23.6rem;
    height: 30.5rem;
  }
}

@media only screen and (max-width: 56.9em) {
  /* .profile-cards {
    grid-template-columns: repeat(3, 1fr);
  } */
  .profile-card {
    width: 20.6rem;
    height: 26.5rem;
  }
}
@media only screen and (max-width: 50.3em) {
  /* .profile-cards {
    grid-template-columns: repeat(3, 1fr);
  } */
  .profile-card {
    width: 18.6rem;
    height: 24.5rem;
  }
}
@media only screen and (max-width: 46.4em) {
  .profile-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .profile-card {
    width: 22.6rem;
    height: 29.5rem;
  }
}

@media only screen and (max-width: 41rem) {
  .profile-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .profile-card {
    width: 20.6rem;
    height: 25.5rem;
  }
}

@media only screen and (max-width: 38.1rem) {
  /* .profile-cards {
    grid-template-columns: repeat(3, 1fr);
  } */
  .profile-card {
    width: 18.6rem;
    height: 23.5rem;
  }
}

@media only screen and (max-width: 35rem) {
  .profile-cards {
    /* grid-template-columns: repeat(2, 1fr); */
  }
  .profile-card {
    width: 16.6rem;
    height: 20.5rem;
  }
}

@media only screen and (max-width: 32rem) {
  .profile-cards {
    /* grid-template-columns: repeat(2, 1fr); */
  }
  .profile-card {
    width: 15.6rem;
    height: 18.5rem;
  }
}

@media only screen and (max-width: 30rem) {
  .profile-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .profile-card {
    width: 21.6rem;
    height: 24.5rem;
  }
}

@media only screen and (max-width: 26.8rem) {
  .profile-card {
    width: 19.6rem;
    height: 22.5rem;
  }
}

@media only screen and (max-width: 25rem) {
  .profile-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .profile-card {
    width: 24.6rem;
    height: 27.5rem;
  }
}

@media only screen and (max-width: 15.5rem) {
  .profile-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .profile-card {
    width: 20.6rem;
    height: 23.5rem;
  }
}

@media only screen and (max-width: 13.3rem) {
  .profile-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .profile-card {
    width: 16.6rem;
    height: 20.5rem;
  }
}
