.chat-page-container {
  background: #eee;

  flex: 0 0 82%;
}
.chat-page {
  width: 100%;
}

.chat-page-sub {
  display: grid;
  grid-template-columns: 1fr 2fr;

  column-gap: 0rem;
  max-width: 105rem;
  height: 100vh;
  margin: auto;
  max-height: 100vh;
}

@media only screen and (max-width: 78em) {
  .chat-page-container {
    flex-direction: column;
  }
  .chat-page-sub {
    max-width: 100%;
  }
}
@media only screen and (max-width: 67em) {
  .chat-page-sub {
    grid-template-columns: 1fr 1.5fr;
  }
}
