.chat-page-container {
  background: #eee;
  margin-top: 6.7rem;
  flex: 0 0 82%;
}
.chat-page {
  width: 100%;
}

.chat-page-sub {
  display: grid;
  grid-template-columns: 1fr 2fr;

  column-gap: 0rem;
  max-width: 105rem;
  height: 100vh;
  margin: auto;
  max-height: 100vh;
}

@media only screen and (max-width: 78em) {
  .chat-page-container {
    flex-direction: column;
  }
  .chat-page-sub {
    max-width: 100%;
  }
}
@media only screen and (max-width: 67em) {
  .chat-page-sub {
    grid-template-columns: 1fr 1.5fr;
  }
}
/* tbd */

@media only screen and (max-width: 56em) {
  .chat-page-sub {
    display: flex;
  }
}

@media only screen and (max-width: 78em) {
  .chat-page-container {
    margin-top: 7.5rem;
  }
}
@media only screen and (max-width: 67em) {
  .chat-page-container {
    margin-top: 7.3rem;
  }
}
@media only screen and (max-width: 41em) {
  .chat-page-container {
    max-height: 100vh;
    height: 100vh;
    margin-top: 0;
    position: relative;
  }
  .chat-page {
    position: absolute;
    height: 86.4%;
    top: 7.6rem;
  }
  .chat-page-sub {
    height: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .chat-page {
    position: absolute;
    height: 86.4%;
    top: 5.7rem;
  }
}

@media only screen and (max-width: 37em) {
  .chat-page {
    position: absolute;
    height: 86.4%;
    top: 6.7rem;
  }
}

/* @media only screen and (max-width: 38em) {
  .chat-page {
    top: 5.7rem;
  }
} */

/* @media only screen and (max-width: 35em) {
  .chat-page {
    position: absolute;
    height: 86.4%;
    top: 5.8rem;
  }
  .chat-page-sub {
    height: 100%;
  }
} */

/* @media only screen and (max-width: 35em) {
  .chat-page {
    top: 6.6rem;
  }
} */
/*   .chat-page {
    position: absolute;
    height: 86.4%;
    top: 8.4%;
  } */
