.dates-container {
  flex: 0 0 82%;
}

.dates {
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  /* background-color: #eee; */
  position: relative;
}

@media only screen and (max-width: 78em) {
  .dates-container {
    flex-direction: column;
  }
  .dates {
    /* height: 100vh; */
  }
}
