.error-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-msg {
  background-color: #fff;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  color: red;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
