.chatbox-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 60%;
  border-radius: 1rem;
  border-width: 1px;
  max-width: 55rem;
  margin: 0 auto;
  height: 90%;
  max-height: 65rem;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}
