.chatbox-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.8rem;
  background-color: var(--color-primary-light);
  width: 100%;
  border-radius: 1rem;
  border-width: 1px;
  max-width: 70%;
  margin: 0 auto;
}
