.messages {
  display: flex;
  flex-direction: column;
  /* padding: 5rem; */
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.chat-user-header {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #ccc;
  padding: 0.6rem 0;
}

.single-chat-user-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 3rem;
}
.single-chat-username {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
}
.chat-container {
  display: flex;
  padding: 0 1.4rem;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
