.signup {
  margin: 2.5rem auto;
  display: grid;
  background-color: red;
  width: 90vw;
}

.form {
}

.u-margin-bottom-medium {
}

.heading-secondary {
  grid-column: 1/-1;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
}
.form__group {
}
.form__label {
}

.form__input {
}
