.connections-container {
  flex: 0 0 82%;
  background-color: #eee;
  margin-top: 6.7rem;
}
.connections {
  padding: 0.1rem 2rem;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.dashboard-loading-container {
  width: 100% !important;
}

.connections-err-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  font-size: 4rem;
  color: var(--color-grey-dark-2);
  height: 100vh;
  width: 100vw;
  text-align: center;
}

@media only screen and (max-width: 78em) {
  .connections-container {
    flex-direction: column;
  }
  .connections {
    padding: 10rem 2rem;
  }
}

@media only screen and (max-width: 78em) {
  .connections-container {
    margin-top: 7.5rem;
  }
}
@media only screen and (max-width: 67em) {
  .connections-container {
    margin-top: 7.3rem;
  }
}
@media only screen and (max-width: 41em) {
  .connections-container {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 41em) {
  .connections-err-msg {
    font-size: 3rem;
  }
  .connections {
    padding: 0.1rem 2rem;
  }
}
