.tag-dashboard-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.tag-dashboard-container::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    transparent 20%,
    rgba(0, 0, 0, 0.9) 115%
  );
  z-index: -1;
}

.tagProfileContent {
  background: rgba(0, 0, 0, 0.6);
}
.tag-profile-content-ico {
  color: #fff;
}
.tag-profile-basic-info {
  color: #fff;
}
.tag-looking-for div {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
}

.tag-usertags div {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
}
.tag-profile--description {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
}
