.tag-dashboard-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.tag-dashboard-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  height: 100%;
}
.tag-dashboard-background-img {
  width: 100%;
  height: 100%;
}
.tag-suggestions-container-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
}
.tagProfileContent {
  background: rgba(0, 0, 0, 0.7);
}
.tag-profile-content-ico {
  color: #fff;
}
.tag-profile-basic-info {
  color: #fff;
}
.tag-looking-for div {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
}
.tag-suggestions-container {
  z-index: 100;
}
.tag-usertags div {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
}
.tag-profile--description {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
}
.tag-swiper {
  background: rgba(0, 0, 0, 0.6);
}
