.navbar-logo {
  height: 4.5rem;
  width: 4.5rem;
  margin-right: 2rem;
}

.navbar-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.num-req-count {
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(70%, -50%);
}
.main-notification-count {
  background-color: red;
  transform: translate(15px, -10px);
}
