.requests-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transition: all 1s;
}
.req-container-received,
.req-container-sent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
