.login-title {
  font-size: 2.3rem;
  padding: 0.5rem 0.8rem;
  margin-top: -2rem;
  font-weight: 500;
}
/* .white-icon {
  color: white;
} */
.cancel-btn-container {
  align-self: right;
  transform: translate(-40%, 20%);
}
.error-container {
  text-align: center;
}

.continue {
  padding: 0.5rem;
  align-self: flex-end;
  color: primary;
}

.verification-text {
  padding: 2rem;
}

.upload-button {
  width: 15vw;
  height: 15vh;
  color: primary;
  padding: 2rem;
}

.link-css {
  color: white;
  text-underline-offset: ture;
  text-decoration: none;
}

.idtype-button {
  color: primary;
  padding: 2rem;
}

.linkStyle {
  color: white;
  text-decoration: none;
}
