@media screen and (max-width: 320px) {
  .Header {
    height: 160px;
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  }
  .custom-avatar {
    width: 65px !important;
    height: 65px !important;
  }
  button.my-icon-button {
    font-size: 50px;
  }
  .my-stack {
    gap: 10px;
  }

  .custom-button {
    height: 15px !important;
  }
  .custom-button-text {
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .Header {
    height: 160px;
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  }
  .custom-avatar {
    width: 65px !important;
    height: 65px !important;
  }
  button.my-icon-button {
    font-size: 50px;
  }
  .my-stack {
    gap: 10px;
  }

  .custom-button {
    height: 15px !important;
  }
  .custom-button-text {
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .Header {
    height: 200px;
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  }
  .my-stack {
    gap: 12px;
  }

  .custom-avatar {
    width: 80px !important;
    height: 80px !important;
  }
  button.my-icon-button {
    font-size: 50px !important;
  }

  .custom-button {
    height: 18px !important;
  }
  .custom-button-text {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .Header {
    height: 230px;
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  }
  .my-stack {
    gap: 15px;
  }

  .custom-avatar {
    width: 100px !important;
    height: 100px !important;
  }
  button.my-icon-button {
    font-size: 50px !important;
  }

  .custom-button {
    height: 25px !important;
  }
  .custom-button-text {
    font-size: 1.2rem !important;
  }
}
@media screen and (min-width: 993px) {
  .Header {
    height: 250px;
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  }
  .my-stack {
    gap: 8px;
  }

  .custom-avatar {
    width: 110px !important;
    height: 110px !important;
  }
  button.my-icon-button {
    font-size: 50px !important;
  }

  .custom-button {
    height: 28px !important;
  }
  .custom-button-text {
    font-size: 1.4rem !important;
  }
}
