.manual-search-container {
  flex: 0 0 82%;
  background-color: #eee;
  margin-top: 6.7rem;
}
.manual-search {
  padding: 0.1rem 2rem;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 90rem;
  margin: 2rem auto;
  position: relative;
  height: 100vh;
  /* justify-items: center; */
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}
.user-search-form {
  /* grid-column: 1/-1; */
  height: 7rem;
}
.manual-search-err-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  font-size: 4rem;
  color: var(--color-grey-dark-2);
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.search-grid {
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 100;
  top: 7.5rem;
  left: 50%;
  padding: 2rem;
  width: 60%;
  margin: auto;
}
.search-grid h5 {
  font-size: 1.2rem;
}
.search-grid-history {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search-grid-history-item {
  padding: 0.8rem 0 1rem 1rem;
  color: var(--color-primary-light);
  border-radius: 10px;
  cursor: pointer;
}
.search-grid-history-item:hover {
  background-color: var(--color-primary-light);
  color: #fff;
}

.search-grid-history-item:hover h6 {
  border-bottom: 2px solid var(--color-primary-light);
}
.search-grid-history-item h6 {
  font-size: 1rem;
  border-bottom: 2px solid #fff;
  color: inherit;
}
.search-result-grid {
  width: 60%;
  margin: auto;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
}
@media only screen and (max-width: 67em) {
  .manual-search-container {
    margin-top: 7.3rem;
  }
}
@media only screen and (max-width: 41em) {
  .manual-search-container {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 41em) {
  .manual-search-err-msg {
    font-size: 3rem;
  }
  .manual-search {
    padding: 0.1rem 2rem;
  }
}
.user-search__input {
  background-color: #fff;
}
