.login-container-main {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 100vh !important;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.login-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: -2rem;
}
.login-form-main {
  max-width: 50rem;
  margin: auto;

  overflow: scroll;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* .login-title {
  font-size: 2.3rem;
  padding: 0.5rem 0.8rem;
  margin-top: -2rem;
  font-weight: 500;
} */

.forgot-password {
  font-size: 1.2rem;
  /* align-self: flex-end; */
  padding: 0.9rem 1rem;
  transition: all 1s;
}

.forgot-password a {
  text-decoration: none;
  color: inherit;
}

.forgot-password:hover {
  transform: scale(1.2, 1.2);
  color: var(--color-primary-light);
}

.cancel-btn-container {
  align-self: flex-end;
  transform: translate(70%, -70%);
}
.error-container {
  text-align: center;
}
.error-msg {
  color: red;
  font-size: 1.1rem;
}
.cancel-btn {
}

@media only screen and (max-width: 31.25em) {
  .login-form-main {
    max-width: 100%;
    width: 100%;
    height: 100% !important;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
